<IfModule mod_rewrite.c>
    RewriteEngine On
 
    # If the requested URL is not a real file or directory, redirect to index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [QSA,L]
</IfModule>