
:root {
    --color-yellow: #FED626;
    --color-green: #5BE4A8;
}

.trending-course-container{
    width: 100%;
}
.trnnding-course-inner-container{
    margin: 0 auto;
}
.courses_card_categroy{
    font-size: 16px;
    color: #575757;
}
.courses_card_hr{
    width: 120px;
    border: 1px solid var(--color-green);
    opacity: 1;
}
.courses_card_flexbox-i{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.courses_card_flexbox-i i{
    color: #000;
    font-size: 16px;
}
.courses_card_flexbox{
    display: flex;
    justify-content: space-between;
}

.course_box_childtext {
    padding: 30px 40px 0;
    border: 3px solid #5be4a896;
}

.tranding_border_radius{
    border-radius: 0px 50px 0px 0px;
  }

  
@media only screen and (min-width: 1024px) {
    .course-name-text {
        min-height: 115px;
    }
    .course_box_childtext{
        padding: 20px 25px 0;
    }
}