@media screen and (max-width: 1024px){
    .contain{
        display: none;
    }
    .text-h5-button h5{
        max-width: 410px;
    }
    /* .side-bar{
        gap: 0;
    } */
}


/* 912px start */
@media screen and (max-width: 912px){
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
        padding-bottom: 0;
    }
    .side-bar{
        gap: 0;
    }
    .counsellors-text-h5-button{
        width: 60%;
    }
    .counsellors-img{
        width: 40%;
    }
}


/* 520 start */

@media screen and (max-width: 540px){

    .order-text{
      order: 3;
    }
    .counsellors-img{
        width: 100%;
    }
    .counsellors-text-image{
        flex-direction: column;
    }
    .counsellors-text-h5-button{
        width: 100%;
        margin-top: 20px;
    }
    .counsellors-child{
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .counsellors-box2{
        height: auto;
        padding: 20px;
    }
    .counsellors-box1{
        padding: 20px;
    }

    /* .all-collage{
        padding: 0 10px;
    }
    .colg-img img{
        max-width: 100px;
    }
    .img-colg-name-child{
        column-gap: 10px;
    }
    .need-help{
        height: auto;
    }
    .need-help-child{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .need-help-child h5{
        padding-bottom: 10px;
    } */
}
/* 430px start */

@media screen and (max-width: 430px){
    
    .firstletter-name{
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: 10px 0;
    }
    .name h1{
        max-width: 300px;
    }
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
}


/* 375 start */

@media screen and (max-width: 375px){

    .firstletter-name{
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: 10px 0;
    }
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
}

/* 280pxs start */

@media screen and (max-width: 280px){
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
    .img-colg-name-child{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .counsellors-btn{
        width: 190px;
        font-size: 12px;
    }
}