@media screen and (max-width: 1024px){
    .contain{
        display: none;
    }
    .text-h5-button h5{
        max-width: 410px;
    }
    /* .side-bar{
        gap: 0;
    } */
}


/* 912px start */
@media screen and (max-width: 912px){
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
        padding-bottom: 0;
    }
    .side-bar{
        gap: 20px;
    }
    .text-image{
        flex-direction: column;
        text-align: center;
    }
    .box-down-img{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text-h5-button{
        width: 100%;
        padding-top: 20px;
    }
    
    .text-h5-button h5{
        margin: auto;
    }
    .box-down-img{
        width: 50%;
    }
    .btn{
        margin-top: 20px;
    }
    .question span{
        text-align: left;
        max-width: 500px;
    }
    .rewards-text-h5-button{
        width: 60%;
    }
    .rewards-img{
        width: 40%;
    }
    .need-help-child{
        height: auto;
    }
    .need-help{
        padding: 20px;
        height: auto;
    }
    .progress{
        width: 100px;
        height: 100px;
    }
    .rewards-btn{
        width: 200px;
        font-size: 12px;
    }
    .rewards-img img{
        object-fit: contain;
    }
}
@media screen and (max-width: 820px){
    .side-bar{
        gap: 5px;
    }
}

/* 540 start */

@media screen and (max-width: 540px){
    .rewards-text-image{
        flex-direction: column;
    }
    .rewards-img{
        width: 100%;
    }
    .rewards-text-h5-button h5{
        padding-top: 20px;
    }
    .rewards-text-h5-button{
        width: 100%;
    }
    .button-box{
        display: inline;
    }
    .need-help{
        height: auto;
        padding: 20px;
    }
    .need-help-child{
        height: auto;
        flex-direction: column;
    }
    .progress{
        display: none;
    }
    .text-button{
        width: 100%;
    }
    .question span{
        text-align: left;
        max-width: 310px;
    }
    .order-text{
        order: 3;
    }
}

/* 430px start */

@media screen and (max-width: 430px){
    
    .firstletter-name{
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: 10px 0;
    }
    .name h1{
        max-width: 300px;
    }
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
    .order-text{
        order: 3;
    }
}


/* 375 start */

@media screen and (max-width: 375px){

    .firstletter-name{
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: 10px 0;
    }
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
    .order-text{
        order: 3;
    }
    .upload-wraper{
        grid-template-columns: 1fr;
    }
    .upload{
        width: 100%;
    }
    .document-text-image{
        flex-direction: column;
    }
    .document-img{
        width: 100%;
    }
    .document-text-h5-button{
        width: 100%;
    }
    .document-text-h5-button h5{
        padding-top: 20px;
    }
    .document-img img{
        object-fit: contain;
    }
}

/* 280pxs start */

@media screen and (max-width: 280px){
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
    .need-help {
        padding: 5px;
    }
    .question button{
        padding: 10px 5px;
    }
    .question span{
        font-size: 18px;
        max-width: 185px;
    }
    .show-more-box{
        padding: 10px 5px;
    }
    .rewards-box{
        padding: 10px;
    }
}