
/* firstletter-name start */

.main{
    width: 100%;
    padding: 10px 0 20px 0;
    background-color:#FED626;
}

.firstletter-name{
    width:100%;
    height: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 100px;
    padding: 0 10px;
    margin-top: 10px;
    max-height: 100%;
}
.firstletter{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: relative;
    overflow: hidden;
    /* border: 5px solid #fff; */
}
.firstletter h1{
    position: relative;
    z-index: 9;
    color: #fcac00;
    font-size: 60px;
}
.firstletter::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(#fcac00, #fcac00);
    animation: animate 4s linear infinite;
}

.firstletter::after{
    content: "";
    position: absolute;
    inset: 6px;
    background: #292828;
    border-radius: 50%;
    z-index: 1;
}

.name h1{
    font-size: 30px;
    font-weight: 600;
}
.profile, .admission{
    margin-bottom: 0;
    font-size: 14px;
}
.profile a, .admission a{
    font-weight: 600;
    text-decoration: none;
    color: #252525;
    font-size: 14px;
}

/*  */

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 20px 0;
}
.contain .steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  color: #252525;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  background: #fcac00;
  /* border: 4px solid #e0e0e0; */
  border: 4px solid #F3F3F3;
  transition: all 200ms ease;
  transition-delay: 0s;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 15px #575656;
}
.steps-span-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  gap: 5px;
}
.steps .circle.active {
  transition-delay: 100ms;
  border-color: #036439;
  box-shadow: 0 5px 10px #ffffff;
}
.steps .progress-bar23 {
  position: absolute;
  height: 4px;
  width: 90%;
  background:#fff;
  margin-top: -40px;
  left: 70px;
}
.progress-bar23 .indicator {
  position: absolute;
  height: 100%;
  width: 33%;
  background: #036439;
  transition: all 300ms ease;
}
.steps-p{
  font-size: 12px;
  text-align: center;
}
.circle i{
  font-size: 22px;

}
.circle img{
  width: 30px;
  color: #fff;
}
.buttons{
  display: none;
}

/* next section start */

.next-section{
    width: 100%;
    padding-bottom: 300px;
    padding: 30px 0;
}
.incomplete{
    width: 100%;
    height: 150px;
    border: 2px solid #5BE4A8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #93fcce;
    border-radius: 5px;
}
.progress{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    background: #252525 linear-gradient(to right, transparent 50%, var(--clr)0);
}
.progress h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 1;
    text-align: center;
}
.complete-p{
    font-size: 12px;
}
.progress h4{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.progress::before{
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}
.progress::after{
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #fcce00;
}
.h3-p{
    max-width: 600px;
}
.h3-p h3{
    font-size: 19px;
    font-weight: 600;
    color:#012e1a;
}
.incomplete-p{
    font-size: 14px;
    padding: 5px 0;
}
.complte-your-profile{
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #012e1a;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.all-img-box{
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}
.img-box{
    width: 100%;
    height: 200px;
    /* border: 1px solid #00ff91; */
    display: flex;
    padding: 20px 30px;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
    background-color: #e8fff5;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
}
.imgbox-img{
  height: 160px;
  display: flex;
  align-items: center;
}
.imgboxh3-p h3{
    font-size: 20px;
    font-weight: 600;
    color: #012e1a;
}
.imgbox-p-button{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.imgbox-p{
    font-size: 14px;
    max-width: 350px;
    color: #4F4F4F;
}
.btn-box-img-btn i{
    transition: .2s ease;
    padding: 0 5px;
}
.img-box-button{
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.btn-box-img-btn:hover i{
     transform: translatex(5px);
     transition: .2s ease;
}
.imgbox-img img{
  width: 100%;
  height: 100%;
  object-fit: none;
}

/*  */

.btn-box-img-btn {    
  position: relative; 
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #012e1a;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
  cursor: pointer;
  user-select: none;
  z-index: 1;
  letter-spacing: 1px;
}

.btn-box-img-btn:before, .btn-box-img-btn:after {
  content: '';
  position: absolute; 
  transition: inherit;
  z-index: -1;
}

.img-box:hover .btn-box-img-btn{
  color: #fff;
  transition-delay: .5s;
}

.img-box:hover .btn-box-img-btn:before{
  transition-delay: 0s;
}

.img-box:hover .btn-box-img-btn:after{
  background: #012e1a;
  transition-delay: .35s;
}

.from-down:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid #012e1a;
  border-left: 0;
  border-right: 0;
}

.from-down:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #012e1a;
}

.img-box:hover .from-down:before{
  left: 0;
  width: 100%;
}

.img-box:hover .from-down:after {
  top: 0;
  height: 100%;
}



/*  */

/* looking-for start */

.looking-for{
    width: 100%;
    height: 100%;
    border: 1px solid #00ff91;
    padding: 20px 15px 0;
}
.loking-for-box h3{
    padding-bottom: 10px;
    color: #012e1a;
}
.padding-icon-box{
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #93fcce;
    justify-content: space-between;
}
.icon-text{
    display: flex;
    gap: 15px;
    font-size: 15px;
    color: #012e1a;
}
.padding-icon-box:last-child{
    border-bottom: 0;
}
.manage-profile-img img{
  width: 16px;
  display: flex;
}
.manage-profile-rigrt-icon, .icon-text{
  cursor: pointer;
}

/*  */

#scroll-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  box-shadow: 3px 5px 10px #4F4F4F;
}
#scroll-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#scroll-top:hover {
  cursor: pointer;
  background-color: #333;
}
#scroll-top:active {
  background-color: #555;
}
#scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #scroll-top {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}

/*  */


