/* 


.main{
    width: 100%;
    padding: 10px 0;
    background-color:#FED626;
}

.firstletter-name{
    width:100%;
    height: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 100px;
    margin-top: 10px;
    max-height: 100%;
}
.firstletter{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: relative;
    overflow: hidden;
}
.firstletter h1{
    position: relative;
    z-index: 9;
    color: #fcac00;
    font-size: 60px;
}
.firstletter::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(#fcac00, #fcac00);
}

.firstletter::after{
    content: "";
    position: absolute;
    inset: 6px;
    background: #292828;
    border-radius: 50%;
    z-index: 1;
}

.name h1{
    font-size: 30px;
    font-weight: 600;
}
.profile, .admission{
    margin-bottom: 0;
    font-size: 14px;
}
.profile a, .admission a{
    font-weight: 600;
    text-decoration: none;
    color: #252525;
    font-size: 14px;
} */

/*  */

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 20px 0;
}
.contain .steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  color: #252525;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  
  /* border: 4px solid #e0e0e0; */
  border: 4px solid #F3F3F3;
  transition: all 200ms ease;
  transition-delay: 0s;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 15px #575656;
  background-color: #fcac00;
}
.steps-span-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  gap: 5px;
}
.steps .circle.active {
  transition-delay: 100ms;
  border-color: #036439;
  box-shadow: 0 5px 10px #ffffff;
  background: #fcac00;
}
.steps .progress-bar23 {
  position: absolute;
  height: 4px;
  width: 90%;
  background:#fff;
  margin-top: -40px;
  left: 70px;
}
.progress-bar23 .indicator {
  position: absolute;
  height: 100%;
  width: 33%;
  background: #036439;
  transition: all 300ms ease;
}
.steps-p{
  font-size: 12px;
  text-align: center;
}
.circle i{
  font-size: 22px;

}
.circle img{
  width: 30px;
  color: #fff;
}



/* profile-page start */

.profile-page{
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}
/* .side-bar{
  width: 100%;
  position: relative;
  padding-top: 40px;
  display: flex;
  gap: 20px;
}
.side-navbar{
    width: 250px;
    position: sticky;
    height: 565px;
    background-color: #FED626;
    top: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 10px #828282;
    padding: 10px 0px;
    border-radius: 8px;
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition:all .3s;
    overflow: hidden;
}
.side-bar ul{
  padding: 0 20px 0 10px;
  position: relative;
}
.side-bar ul li{
    transition: .3s ease;
    cursor: pointer;
    margin: 5px 0;
} */
/* .side-bar ul li a{
    color: #000;
    padding: 5px 5px;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    display: flex;
  gap: 10px;
  align-items: center;
} */
/* .side-bar ul li a:hover{
  background: linear-gradient(0deg, rgba(252,172,0,1) 1%, rgba(254,214,38,1) 23%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
  border-radius: 50px;
  transition: .3s ease;
  color: #000000;
  font-weight: 600;
  box-shadow: 0 3px 5px #707070;
}
circle{
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  top: 70%;
  left: 0%;
  animation: animate 1s linear infinite;
}
@keyframes animate{
  from{
    width: 0;
    height: 0;
    opacity: .31;
  }
  to{
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}


.side-bar ul li a i{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fcac00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active{
  background: linear-gradient(0deg, rgba(252,172,0,1) 1%, rgba(254,214,38,1) 23%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%);
  border-radius: 50px;
  transition: .3s ease;
  color: #000000;
  font-weight: 600;
  box-shadow: 0 3px 5px #707070;
}
label #bars
{
    background: linear-gradient(145deg, #1e2024, #23272b);
    color: #ff014e;
    font-size: 25px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-top: 25px; 
    position: fixed;
}
label #cancel{
  font-size: 25px;
  cursor: pointer;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin-top: 25px;
  background: #ffffff;
  position: fixed;
}
#check{
  display: none;
}
.insurance-i{
    color: #04a55c;
} */




/* @media screen and (max-width: 911px){
  .side-navbar{
    width: 110px;
    height: 565px;
    overflow-y: scroll;
    box-shadow: none;
    
  }
  .side-bar ul{
    padding: 0px 10px 0px 10px;
  }
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track{
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #828282;
    border-radius:100px;
  }

  .side-bar ul li{
    margin: 5px 0;
  }
  .side-bar ul li a{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    gap: 2px;
  }
  .side-bar ul li a:hover {
    background: transparent;
    border-radius: 0;
    color: #000000;
    box-shadow: none;
  }
  .side-bar ul li a i{
    font-size: 16px;
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
.active{
    background: transparent;
    border-radius: 0;
    transition: .3s ease;
    font-weight: 600;
    box-shadow:none;
    color: #6ee6b2;
  }
  .fa-car-burst{
    box-shadow: 5px 5px 25px #ffffff;
    border: 2px solid #04a55c;
    color: #04a55c;
    background: #828282;
  }
  .insurance-text{
    color: #04a55c;
    font-weight: 900;
  }
} */

/* 430px start */

/* @media (max-width: 430px){
  
  label #bars{
    display: block;
    margin-top: -65px;
    position: absolute;
    z-index: 9999;
    color: #fcac00;
    right: 0;
} 
.side-bar ul li a i{
  display: none;
}
.side-bar ul li a{
  font-size: 17px;
  color: aliceblue;
}
.side-bar ul li a:hover{
  text-decoration: underline;
  color: #fcac00;
}
.side-navbar{
    width: 100%;
    height: auto;
    box-shadow: none;
    position: absolute;
    z-index: 9;
    overflow: visible;
    background: transparent
}
#check:checked ~ ul{
    left: 0;
}
#check:checked ~ label #bars{
    display: none;
}
#check:checked ~ label #cancel{
    display: block;
    margin-top: -65px;
}
.side-navbar ul{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(145deg, #1e2024, #23272b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  transition: .5s all;
  z-index:-11;
}
} */

/* 430 end */

/* @media (max-width: 375px){
  label #bars, label #cancel{
     width: 50px;
     height: 50px;
     line-height: 50px;
     font-size: 25px;
  }
  .side-bar ul li a{
    font-size: 15px;
  }
} */

/*  */
.left-box{
  width: calc(100% - 250px);
  padding-bottom: 20px;
  position: relative;
}
.not-show{
  width: 100%;
  height: 200px;
  border: 3px solid #012e1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.not-show-img img{
   width: 70%;
}
.not-show h5{
  padding-top: 19px;
}
  
  /*  */
  .need-help{
    width: 100%;
    height: 200px;
    border: 3px solid #012e1a;
    margin-top: 20px;
    padding: 30px;
    background-color: cornsilk;
  }
  .need-help-child{
    border: 3px solid #fcac00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 136px;
    padding: 20px;
    background-color: #e8fff5;
  }
  .need-help-child h5{
    font-weight: 600;
    font-size: 19px;
  }
  .need-help-btn{    
    position: relative; 
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #012e1a;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
    cursor: pointer;
    user-select: none;
    z-index: 1;
    letter-spacing: 1px;
  }
  /*  */

  #scroll-top {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    box-shadow: 3px 5px 10px #4F4F4F;
  }
  #scroll-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #scroll-top:hover {
    cursor: pointer;
    background-color: #333;
  }
  #scroll-top:active {
    background-color: #555;
  }
  #scroll-top.show {
    opacity: 1;
    visibility: visible;
  }
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #scroll-top {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }