
/* .main{
    width: 100%;
    padding: 10px 0;
    background-color:#FED626;
}

.firstletter-name{
    width:100%;
    height: 140px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 100px;
    margin-top: 10px;
    max-height: 100%;
}
.firstletter{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: relative;
    overflow: hidden;
}
.firstletter h1{
    position: relative;
    z-index: 9;
    color: #fcac00;
    font-size: 60px;
}
.firstletter::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(#fcac00, #fcac00);
}

.firstletter::after{
    content: "";
    position: absolute;
    inset: 6px;
    background: #292828;
    border-radius: 50%;
    z-index: 1;
}

.name h1{
    font-size: 30px;
    font-weight: 600;
}
.profile, .admission{
    margin-bottom: 0;
    font-size: 14px;
}
.profile a, .admission a{
    font-weight: 600;
    text-decoration: none;
    color: #252525;
    font-size: 14px;
} */

/*  */

/* .contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 20px 0;
}
.contain .steps {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.steps .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  color: #252525;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50%;
  border: 4px solid #F3F3F3;
  transition: all 200ms ease;
  transition-delay: 0s;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 15px #575656;
  background-color: #fcac00;
}
.steps-span-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  gap: 5px;
}
.steps .circle.active {
  transition-delay: 100ms;
  border-color: #036439;
  box-shadow: 0 5px 10px #ffffff;
  background: #fcac00;
}
.steps .progress-bar23 {
  position: absolute;
  height: 4px;
  width: 90%;
  background:#fff;
  margin-top: -40px;
  left: 70px;
}
.progress-bar23 .indicator {
  position: absolute;
  height: 100%;
  width: 33%;
  background:  #036439;
  transition: all 300ms ease;
}
.steps-p{
  font-size: 12px;
  text-align: center;
}
.circle i{
  font-size: 22px;

}
.circle img{
  width: 30px;
  color: #fff;
} */

/* profile-page start */

.profile-page{
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.left-box{
  width: calc(100% - 250px);
  padding-bottom: 20px;
  position: relative;
}

/* basic-detials */

.basic-detials{
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: width 0.9s ease 0s, heigh 0.9s ease 0s;
}
.besic-detials-all-text{
  width: 100%;
  background-color: #e8fff5;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
.besic-detials-h3-i, .contact-detials-h3-i, .education-detials-h3-i{
  display: flex;
  justify-content: space-between;
}
.besic-detials-h3-i h3{
  font-size: 20px;
  color: #012e1a;
  font-weight: 700;
}
.besic-detials-h3-i i, .contact-detials-h3-i i, .education-detials-h3-i i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #012e1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.fname-dob-social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  row-gap: 10px;
  column-gap: 10px;
}
.full-name, .dob, .social-category, .gender, .marital-status, .physically-challenged{
  font-size: 13px;
}
.full-name-h3, .do-b, .social, .gender-h3, .marital-h3, .physically-h3{
  font-size: 15px;
  font-weight: 600;
}

/* besic--hide start */

.basic-detials-hide{
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: width 0.9s ease 0s, heigh 0.9s ease 0s;
}
.besic-detials-all-text-hide{
  width: 100%;
  background-color: #e8fff5;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
}
/* full name button start */

.input-field{
  position: relative;
  margin-top: 10px;
}
.input-field input{
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 15px;
  border: 1px solid #012e1a;
  background: transparent;
  outline: none;
}
.input-field label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus ~ label,
input:valid ~ label{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #e8fff5;
}
/* full name button end */

/* dob start */
.dob{
  display: flex;
  flex-direction: column;
}
#birth_date{
  width: 100%;
  height: 50px;
  font-size: 16px;
  outline: none;
  border: 1px solid #012e1a;
  padding: 0 10px;
  background-color: transparent;
}
/* dob end */

/* social category start */

.social-category{
  display: flex;
  flex-direction: column;
}
select {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 16px;
  background-color:transparent;
  border: 1px solid #012e1a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
    margin-top: 10px;
}
select::-ms-expand {
    display: none;
}
.besic-detials-h3-i, .contact-detials-h3-i, .education-detials-h3-i{
  display: flex;
  justify-content: space-between;
}
.besic-detials-h3-i h3{
  font-size: 20px;
  color: #012e1a;
  font-weight: 700;
}
.besic-detials-h3-i i, .contact-detials-h3-i i, .education-detials-h3-i i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #012e1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.fname-dob-social-hide{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-top: 20px;
  row-gap: 20px;
  column-gap: 20px;
}
.full-name, .dob, .social-category, .gender, .marital-status, .physically-challenged{
  font-size: 13px;
}


/* gender start */
.input-group{
  display: flex;
  align-items: center;
}
.gender-input{
  margin-top: 10px;
}
.gender-cheakbox{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00ff91;
}
.inline-fields{
   margin-top: 10px;
   display: flex;
   gap: 10px;
}
.cheak-text{
  font-size: 12px;
}

/*  gender end */

/* marital-status start */

.marital-input-group{
  display: flex;
  align-items: center;
}
.marital-input{
  margin-top: 10px;
  
}

/* marital-status end */

/* physically-challenged start */

.physically-challenged-input-group{
  display: flex;
  align-items: center;
}
.physically-challenged-input{
  margin-top: 10px;
  
}
/* physically-challenged end */
.besic-detials-all-text-hide-button-parent{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}
.besic-detials-button-save{
  position: relative; 
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #012e1a;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
  cursor: pointer;
  user-select: none;
  z-index: 1;
  letter-spacing: 1px;
  font-weight: 600;
  border: 0;
}
.besic-detials-all-text-hide-button1 {    
  position: relative; 
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #012e1a;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #012e1a;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
  cursor: pointer;
  user-select: none;
  z-index: 1;
  letter-spacing: 1px;
}
/*  besic hide end*/

.contact-details{
  width: 100%;
  background-color: #e8fff5;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  border-radius: 5px;
}
.contact-detials-h3-i h3{
  font-size: 20px;
  color: #012e1a;
  font-weight: 700;
}
/* education-details start */

.education-details{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px 20px 0;
  background-color: #e8fff5;
  position: relative;
}
.education-detials-h3-i h3{
  font-size: 20px;
  color: #012e1a;
  font-weight: 700;
}
.education-details-all-text h4{
  font-size: 14px;
  font-weight: 600;
  color: brown;
  padding-top: 10px;
}
.education-details-all-text h6{
  font-size: 14px;
  font-weight: 600;
  color: brown;
  padding-top: 20px;
}
.educationl-details-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
  row-gap: 10px;
  column-gap: 10px;
}
.education-details-all-text{
  width: 100%;
  border-bottom: 1px solid #00ff91;
}
.education-details-all-text:last-child{
  border-bottom: 0;
}

/* preferences */
.preferences{
  width: 100%;
  padding: 20px;
  background-color: #e8fff5;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}
.preferences-h3-i{
  display: flex;
  justify-content: space-between;
}
.preferences-h3-i h3{
  font-size: 20px;
  color: #012e1a;
  font-weight: 700;
}
.preferences-all-text{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  row-gap: 10px;
  column-gap: 10px;
}
.text{
  font-size: 13px;
}
.text h6{
  font-size: 14px;
  font-weight: 600;
}
.preferences-h3-i i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #012e1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* exam-details */

.exam-details{
  width: 100%;
  padding: 20px;
  background-color: #e8fff5;
  position: relative;
  border-radius: 5px;
}
.exam-details-i{
  display: flex;
  justify-content: space-between;
}
.exam-details-i h6{
  font-weight: 700;
  color: #012e1a;
  font-size: 20px;
}
.exam-detils-p{
  font-size: 13px;
}
.exam-details-i i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #012e1a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/*  */
#scroll-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  box-shadow: 3px 5px 10px #4F4F4F;
}
#scroll-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#scroll-top:hover {
  cursor: pointer;
  background-color: #333;
}
#scroll-top:active {
  background-color: #555;
}
#scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #scroll-top {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}

@media (max-width: 767px){
  .fname-dob-social{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px){
  .fname-dob-social {
    grid-template-columns: 1fr;
  }
  .preferences-all-text{
    grid-template-columns: 1fr 1fr;
  }
}