@media screen and (max-width: 1024px){
    .contain{
        display: none;
    }
    .text-h5-button h5{
        max-width: 410px;
    }
    /* .side-bar{
        gap: 0;
    } */
}


/* 912px start */
@media screen and (max-width: 912px){
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
        padding-bottom: 0;
    }
    .side-bar{
        gap: 0;
    }
    .payments-text-h5-button{
        width: 60%;
    }
    .payments-text-h5-button h5{
        max-width: 320px;
    }
    .payments-img{
        width: 40%;
    }
    .btn{
        margin-top: 20px;
    }
    .button-box{
        display:block;
    }
}


/* 520 start */

@media screen and (max-width: 540px){
    .all-collage{
        padding: 0 10px;
    }
    .colg-img img{
        max-width: 100px;
    }
    .img-colg-name-child{
        column-gap: 10px;
    }
    .order-text{
        order: 3;
    }
    .payments-text-image{
        flex-direction: column;
    }
    .payments-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .payments-text-h5-button{
        width: 100%;
    }
    .payments-box{
        padding: 20px;
    }
    .button-box{
        display: block;
    }
    .payments-img img{
        object-fit: contain;
    }
}
/* 430px start */

@media screen and (max-width: 430px){
    
    .firstletter-name{
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: 10px 0;
    }
    .name h1{
        max-width: 300px;
    }
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
    .order-text{
        order: 3;
    }
    .payments-text-image{
        flex-direction: column;
    }
    .payments-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .payments-text-h5-button{
        width: 100%;
    }
    .payments-box{
        padding: 20px 10px;
    }
    .button-box{
        display: block;
    }
}


/* 375 start */

@media screen and (max-width: 375px){

    .firstletter-name{
        height: 100%;
        flex-direction: column;
        text-align: center;
        margin: 10px 0;
    }
    .contain{
        display: none;
    }
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
}

/* 280pxs start */

@media screen and (max-width: 280px){
    .left-box{
        width: 100%;
    }
    .side-bar{
        gap: 0;
    }
    .img-colg-name-child{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .payments-btn{
        width: 220px;
        font-size: 12px;
    }
}