@media screen and (max-width: 1396px) {
  .collage_card_2ndtextbox {
    padding: 20px 10px;
  }
  .collage_card_2ndtextbox_rating_star_number {
    font-size: 14px;
    gap: 2px;
  }
  .collage_card_2ndtextbox_course-name_h3 {
    font-size: 15px;
  }
  .collage_card_2ndtextbox_course-name_p {
    font-size: 14px;
  }
  .collage_card_2ndtextbox_rating_star_number i {
    font-size: 13px;
  }
}
@media screen and (max-width: 1350px) {
  .choice-place-col2 h2 {
    font-size: 30px;
  }
  .choice-place-col2 p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .choice-place-col2 {
    padding: 40px 70px 40px 80px;
  }
}
@media screen and (max-width: 1240px) {
  .banner-caption {
    padding: 55px 0;
  }
  .course-list-leftbox {
    width: 130px;
  }
  .course-list-rightbox {
    padding: 0 20px;
  }
  .course-list-rightbox h2 {
    font-size: 20px;
  }
  .course-list-rightbox p {
    font-size: 20px;
  }
  .banner1_searchbutton_button input[type='text'] {
    width: 200px;
    font-size: 8px;
  }
  .search-suggestion {
    height: 240px;
  }
}
@media screen and (max-width: 1200px) {
  .exam-listing-flex-box {
    display: block !important;
    text-align: left !important;
  }
  .application-exam-date-text {
    width: 100%;
    flex-direction: row !important;
  }
  ul.exam-imp-list {
    display: block;
  }
  .exam-imp-list-width-50 {
    width: 100%;
  }
  .exam-apply-btn {
    width: 130px;
  }
  .exam-listing-box-content {
    padding: 0 15px 0;
  }
  .course-box {
    padding: 10px 10px 0;
  }
  .course-box-img {
    margin-bottom: 10px;
  }
  .course-numbering {
    font-size: 18px;
  }
  .course-box-prents3-child-in-child1 {
    gap: 2px;
  }
  .course-box-prents3-child-in-child1-h3,
  .course-box-prents3-child-in-child1-date {
    font-size: 14px !important;
  }
  .course-box-prents3-child-in-child1-confirmed {
    font-size: 13px;
  }
  .copy-right-text {
    font-size: 13px;
}
}
@media screen and (max-width: 1024px) {
  .banner-caption h1 {
    font-size: 35px;
  }
  .course_box_childtext {
    padding: 30px 30px 0 !important;
  }
  .faq-heading {
    margin-bottom: 30px;
  }
  .clg-info-greenbox-location {
    font-size: 20px;
  }
  .exam-center-calenderTxt1,
  .exam-center-calenderTxt {
    font-size: 26px;
  }
  .similar-exam-badge {
    font-size: 16px;
  }

  .course-slider_h3text,
  .admission-process-content h2,
  .tranding-courses-heading,
  .section-heading,
  .imgText-heading,
  .inner-pagebanner-section h1,
  .faq-heading,
  .newsletter-hdng,
  .course-details-alterImgbox-col1 h2,
  .course-details-alterbox h2,
  .tick-heading h2,
  .clg-info-greenbox-hdng,
  .section-heading2.grey,
  .download-content-box h2,
  .inner-pagebanner-section h1,
  .exam-details-yellow-heading,
  .section-heading2 {
    font-size: 30px !important;
  }
  .menu-link {
    font-size: 14px;
  }
  .banner-search-icon {
    right: 5px;
}
}

@media screen and (max-width: 991px) {
  .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .banner-slider .swiper-slide {
    height: 400px;
    background-size: cover;
  }
  #banner2-caption-right-position {
    margin-left: auto !important;
    margin-right: 14vw !important;
  }
  #banner3-caption-right-position {
    margin-left: auto !important;
    margin-right: 10vw !important;
  }
  #banner4-caption-right-position {
    margin-left: auto !important;
    margin-right: 12vw !important;
  }
  .banner-caption {
    width: fit-content;
    /* padding-left: 40px; */
    margin: 0 auto !important;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 40px 40px;
  }
  .banner-button-prev {
    left: 20px;
  }
  .banner-button-next {
    right: 20px;
  }

  .implink-slider-wrapper .swiper-button-next {
    right: -15px;
  }
  .implink-slider-wrapper .swiper-button-prev {
    left: -15px;
  }
  /* .banner-caption h1 {
        font-size: 40px;
        line-height: 55px;
    } */
  p.course-numbering {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 10px;
  }
  p.course-para {
    padding-left: 15px;
  }
  .admission-process-btn {
    margin-left: 45px;
  }
  .process-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .process-list li {
    width: 30%;
  }
  .choice-place-innersection {
    flex-wrap: wrap;
  }
  .choice-place-col1,
  .choice-place-col2 {
    width: 100%;
  }
  .choice-place-col1 img {
    position: static;
    width: 100%;
    height: 350px;
  }
  .trending-course-section {
    padding-bottom: 40px;
  }
  .trending-course-box:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0deg 0% 0% / 25%);
  }
  .trending-course-box h2 {
    z-index: 1;
  }
  /* .career-button-prev, .career-button-next,
    .testimonials-button-prev, .testimonials-button-next {
        width: 70px;
        height: 70px;
    } */
  /* .career-button-prev img, .career-button-next img,
    .testimonials-button-prev img, .testimonials-button-next img{
        width: 30px;
    } */
  .dots-img1 {
    bottom: inherit;
    right: 25px;
    top: 0;
  }
  .circle-img {
    right: inherit;
    top: 9px;
    left: 0;
  }
  .stats .counter {
    font-size: 46px;
  }
  a {
    justify-content: start;
  }
  /* .choice-place-col1 img{
        top: -60px;
    } */

  .theme-btn {
    height: 44px;
    font-size: 12px;
    padding: 10px 20px;
  }
  .course-details-alterImgbox-col1 {
    padding: 40px 15px 40px 30px;
  }
  .filter-applied-badge {
    line-height: normal;
  }
  .filter-apply-txt {
    line-height: normal;
  }
  .clg-info-scholarship-badge {
    font-size: 12px;
  }
  .clginfo-applybtn {
    width: 140px;
  }
  .exam-details-hightlights-table td,
  .td-inner-html {
    padding: 20px 20px;
    font-size: 14px;
  }
  .exam-details-hightlights-table tr th p {
    width: 95%;
    padding: 10px 10px;
  }
  .latest-news-badge {
    padding: 7px 20px;
  }
  .write-review-btn {
    padding: 8px 40px;
  }
  .accomodation-box {
    width: 23%;
  }
  .accomodation-review-row {
    row-gap: 20px;
  }

  .course-list-leftbox {
    width: 140px;
  }
  .course-list-rightbox {
    padding: 0 50px;
  }
  .course-list-rightbox h2 {
    font-size: 24px;
  }
  .course-list-rightbox p {
    font-size: 22px;
  }
  .banner-caption h1 {
    font-size: 30px;
  }
  .trending-course-box {
    padding: 50px 50px;
  }
  .choice-place-col1 {
    order: -1;
  }
  .footer-img-size {
    width: 50%;
  }
  .card-zoom-box-wraper {
    width: 33%;
  }
  /* .banner1_searchbutton_button input[type='text'] {
    width: 350px;
    font-size: 14px;
  } */
  .search-suggestion {
    height: 180px;
    top: 45px;
  }
  .menu-link {
    font-size: 16px;
  }
} /* end 991px */

@media screen and (max-width: 768px) {
  .banner-slider,
  .swiper-slide {
    background-repeat: no-repeat;
  }
  .banner-caption {
    padding: 50px 0 50px 40px;
  }
  .banner-caption h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .management-clg-applybtn{
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .section-heading,
  .qa-title {
    font-size: 30px;
  }
  /* .theme-btn {
        height: 44px;
        font-size: 12px;
        padding: 10px 20px;
    } */
  .banner-slider .swiper-slide {
    height: auto;
    background-size: cover;
  }
  .banner-caption h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .banner-caption h1 span {
    font-size: 20px;
  }
  p.course-para {
    padding-left: 0;
  }
  p.course-name {
    font-size: 17px;
    line-height: 20px;
  }
  .course-readmore-btn {
    width: 78%;
    padding: 10px;
    margin-top: 30px;
    font-size: 13px;
  }
  .admission-process-bx {
    flex-wrap: wrap;
  }
  .admission-process-btn {
    margin-left: 0;
    width: 100%;
    padding: 10px 25px;
    text-align: center;
    margin-top: 15px;
  }
  img.arrow-right-icon {
    display: inline-block;
    margin: 0 auto;
  }
  .process-list li {
    width: 48%;
  }
  .process-list li .dashed-border img {
    margin-bottom: 30px;
    width: 75px;
  }
  .career-slider-section {
    padding-bottom: 0 !important;
  }
  .imgText-heading {
    margin-bottom: 20px;
  }
  .course-details-alterbox h2,
  .tick-heading h2,
  .faq-heading {
    font-size: 30px;
  }
  .faq-heading {
    margin-bottom: 20px;
  }
  .contact-form-section {
    margin-top: 20px;
  }
  .choice-place-col2 {
    padding: 50px 30px;
  }
  .choice-place-col2 p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .upcoming-blog-date {
    padding: 50px 10px 10px;
  }
  .upcoming-blog-date p {
    font-size: 24px;
  }
  .upcoming-blog-date p span {
    font-size: 16px;
  }
  .upcoming-blog-year {
    font-size: 15px;
  }
  .testimonials-button-prev {
    left: 0;
  }
  .testimonials-button-next {
    right: 0;
  }
  .blog-col {
    padding: 20px;
  }
  .blog-badge {
    margin-top: 15px;
  }
  p.latest-blog-userdetails {
    margin-bottom: 30px;
  }
  .testimonial-slider-wrapper {
    padding: 0 20px;
  }
  .newsletter-icon {
    margin-right: 15px;
    width: 50px;
  }
  .newsletter-hdng {
    font-size: 22px;
  }
  ul.terms-privacy {
    justify-content: center;
  }

  .course-post-imgBx,
  .course-post-contentBx {
    width: 100%;
  }
  /* .course-listing-box{
        padding: 30px;
    } */
  /* .course-post-contentBx{
        padding: 30px 0 0;
    } */
  .follow-course-circle {
    left: 40%;
    top: -52px;
  }
  /* .course-infowrapper {
        margin-top: 40px;
    } */
  .course-infobx {
    width: 100%;
  }
  /* .course-infobx + .course-infobx{
        margin-top: 30px;
    } */
  .faq-section .accordion-button,
  .faq-section .accordion-body {
    padding: 25px 15px;
  }

  /* j code */
  .bookmark-badge-leftbox {
    padding-bottom: 10px;
  }
  .courses-details-rightcol {
    margin-bottom: 40px;
  }
  .bookmark-badge-leftbox {
    padding-bottom: 20px;
  }
  .about-img1 {
    width: 50%;
  }
  .about-img-parent {
    text-align: center;
  }
  .choice-place-col1,
  .choice-place-col2 {
    width: 100%;
  }
  .write-review-btn {
    padding: 8px 20px;
    font-size: 15px;
  }
  .accomodation-box {
    width: 30%;
  }
  .accomodation-review-row {
    justify-content: flex-start !important;
    gap: 20px;
  }
  .newsletter-btn {
    margin-top: 10px;
  }
  .course-details-alterImgbox-col1 h2 {
    font-size: 25px;
  }
  .course-details-alterImgbox-col1 h2 {
    line-height: 35px;
  }
  .course-details-alterbox h2 {
    line-height: 37px;
  }
  .accordion-button-mystyle {
    font-size: 17px;
  }
  /* .banner1_searchbutton_button input[type='text'] {
    width: 250px;
    padding: 6px 10px;
    font-size: 10px;
  } */
  .banner-search-icon i {
    font-size: 12px;
  }
  .search-suggestion {
    height: 180px;
    padding: 10px 10px;
    top: 37px;
  }
  .course-details-alterbox p,
  .course-details-alterImgbox-col1 p {
    font-size: 17px;
  }
  .card-zoom-box-wraper {
    width: 50%;
  }
  .course-details-alterbox h2 {
    margin-bottom: 20px;
  }
  .admission-process-content h2,
  .course-slider_h3text,
  .choice-place-col2 h2,
  .tranding-courses-heading,
  .section-heading,
  .imgText-heading,
  .inner-pagebanner-section h1,
  .faq-heading,
  .newsletter-hdng,
  .course-details-alterImgbox-col1 h2,
  .course-details-alterbox h2,
  .tick-heading h2,
  .clg-info-greenbox-hdng,
  .section-heading2.grey,
  .exam-center-calenderTxt1 span,
  .download-content-box h2,
  .inner-pagebanner-section h1,
  .exam-details-yellow-heading,
  .section-heading2 {
    font-size: 26px !important;
  }
    .management-clg-applybtn{
    font-size: 14px;
    position: relative;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 600px) {
  /* .banner-slider, .swiper-slide{
        background-repeat: no-repeat;
      } */
  .banner-caption {
    height: 220px;
  }
  .banner-btn-grp {
    margin-top: 1rem !important;
  }
  .choice-place-col1 img {
    width: 100%;
    height: auto;
  }
  .banner1_searchbutton_button button {
    padding: 6px;
    font-size: 15px;
  }
  .banner1_searchbutton_button input[type='text'] {
    width: 150px;
    padding: 6px 6px;
  }
  .banner-search-icon{
    right: 5px;
  }
  .search-suggestion {
    height: 130px;
    padding: 10px 10px;
    top: 40px;
  }
  .search-suggestion ul li {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .courselist-button-prev {
    left: -10px;
  }
  .courselist-button-next {
    right: -10px;
  }

  .implink-button-prev {
    left: -10px;
  }
  .implink-button-next {
    right: -10px;
  }
  .course-box {
    padding: 30px 50px 0;
  }
  .exam-details-hightlights-table td, .td-inner-html {
    padding: 10px 10px;
    font-size: 14px;
  }

  .clg-slider-box {
    padding: 20px 40px;
  }
  .ind-clg-button-prev {
    left: -10px;
  }
  .ind-clg-button-next {
    right: -10px;
  }

  /*  */

  .clg-button-prev {
    left: -10px;
  }
  .clg-button-next {
    right: -10px;
  }

  /*  */

  .courseOffer-button-prev,
  .career-button-prev,
  .clg-faculty-button-prev {
    left: -10px;
  }
  .courseOffer-button-next,
  .career-button-next,
  .clg-faculty-button-next {
    right: -10px;
  }

  .user-letter-circle {
    width: 60px;
    height: 60px;
  }
  .clg-accepting-exam-slider-box {
    padding: 55px 40px;
  }
  .clg-accepting-exam-slider-box {
    padding: 20px 40px;
  }
}

/* sign up responsive start */

/* 540 start */

@media screen and (max-width: 540px) {
  .sign-up-page {
    flex-direction: column;
    float: none;
  }
  .page1 {
    display: none;
  }
  .page2 {
    width: 100%;
  }
  .banner-caption h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .exam-details-hightlights-table tr th p {
    font-size: 15px;
  }
  .write-review-btn {
    padding: 8px 19px;
    font-size: 12px;
  }
  .accomodation-review-row {
    justify-content: center !important;
  }
  .accomodation-review-row {
    gap: 10px;
  }
  .accomodation-title {
    font-size: 12px;
  }
  .accomodation-icon {
    width: 27px;
  }
  .accomodation-reviewtxt {
    font-size: 14px;
  }
  .accomodation-box {
    width: 31%;
    padding: 20px 10px;
  }
  .pagination-gap {
    margin-left: 0;
  }
  .copy-right-text {
    font-size: 10px;
  }
  .management-clg-applybtn {
    font-size: 10px;
    position: relative;
    display: block;
    padding: 0px 14px;
    width: 95px;
  }
}
@media screen and (max-width: 500px){
  .card-zoom-box-wraper {
        width: 100%;
    }
}

@media screen and (max-width: 470px){
  .banner1_searchbutton_button input[type='text'] {
      width: 120px;
      font-size: 6px;
  }
  .navbar-left a {
    width: 150px;
}
}

/* 430 start */
@media screen and (max-width: 430px) {
  .sign-up-page {
    flex-direction: column;
    left: 0;
  }
  .page1 {
    width: 100%;
    display: none;
  }
  .page2 {
    width: 100%;
  }
  .page2 h2 {
    font-size: 24px;
  }
  .card-zoom-box-wraper {
    width: 100%;
  }
}

/* 375 px start */

@media screen and (max-width: 375px) {
  .sign-up-page {
    flex-direction: column;
    left: 0;
  }
  .page1 {
    width: 100%;
    display: none;
  }
  .page2 {
    width: 100%;
  }
  .page2 h2 {
    font-size: 22px;
  }
  .input-fluid {
    gap: 10px;
  }
  .national-flag-img img {
    max-width: 14px;
  }
  .banner1_searchbutton_button input[type='text'] {
    width: 150px;
    padding: 6px 10px;
  }
}

/* 320 start */

@media screen and (max-width: 320px) {
  .page2 h2 {
    font-size: 18px;
  }
}

/* 280 start */

@media screen and (max-width: 281px) {
  .page1 {
    padding: 90px 10px 50px 10px;
    display: none;
  }
  .input-fluid {
    font-size: 16px;
    padding: 0 6px;
    gap: 5px;
  }
  .national-flag-img img {
    width: 20px;
  }
  .national-flag-img img {
    width: 20px;
  }
  .page2 h2 {
    font-size: 16px;
  }
}

/* quiz responsive */

/* 540 start */

@media screen and (max-width: 540px) {
  .prev-next {
    justify-content: flex-end;
  }
  .submit-and-prev-next {
    flex-direction: column;
  }
}

/* 470px start */

@media screen and (max-width: 470px) {
  .page {
    padding: 50px 0;
  }
  .submit-and-prev-next {
    flex-direction: column;
  }
  .option-4 {
    grid-template-columns: auto;
  }
}

/* 430 start */

@media screen and (max-width: 430px) {
  .page {
    padding: 30px 0;
    height: 100%;
  }
  .option-4 {
    grid-template-columns: auto;
  }
  .submit-and-prev-next {
    flex-direction: column;
  }
  .prev-next {
    justify-content: flex-end;
  }
  .course_box_childtext {
    padding: 30px 30px 0;
  }
  p.course-name {
    font-size: 15px;
    line-height: 20px;
    height: 25px;
  }
  .courses_card_flexbox-i {
    font-size: 13px !important;
  }
  .courses_card_flexbox-i i {
    font-size: 13px;
  }
  .trending-course-box {
    padding: 30px 30px;
  }
  .course_box_childtext {
    padding: 30px 30px 0;
  }
}
/* 393 start */

@media screen and (max-width: 393px) {
  .page {
    padding: 50px 0;
    height: 100%;
  }
}

/* 375 start */

@media screen and (max-width: 375px) {
  .page {
    padding: 30px 0;
    height: 100%;
  }
  .question h4 {
    font-size: 22px;
  }
  .page-no,
  .alarm-clock-img img,
  .time-left,
  #time-left {
    font-size: 16px;
  }
  .option-4 {
    grid-template-columns: auto;
  }
  .submit-and-prev-next {
    flex-direction: column;
  }
  .btn {
    width: 150px;
    font-size: 18px;
  }
  .prv,
  .nxt {
    width: 100px;
    font-size: 18px;
  }
  .prev-next {
    justify-content: flex-end;
  }
}

/* 360 start */

@media screen and (max-width: 360px) {
  .container-h4 {
    font-size: 16px;
  }
}

/* 280 start */

@media screen and (max-width: 280px) {
  .question h4 {
    font-size: 20px;
  }
  .container {
    width: 90%;
  }
  .container-h4 {
    font-size: 16px;
  }
}
