/* :root {
    --font-poppin: "Poppins", sans-serif;
    --color-yellow: #FED626;
    --color-green: #5BE4A8;
    --color-grey: #4F4F4F;
    --color-dark-grey: #828282;
    --color-light-grey: #F3F3F3;
    --color-black: #000;
    --color-light: hsl(0, 0%, 95%);
    --color-white: hsl(0, 0%, 100%);
  
    --body-text-grey: #575757;
  
    --color-green-100: hsl(152, 24%, 50%);
    --color-green-200: hsl(152, 24%, 35%);
    --color-green-300: hsl(152, 24%, 25%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
  
    --white-100: hsl(206, 5%, 100%);
    --white-200: hsl(206, 5%, 90%);
    --white-300: hsl(206, 5%, 80%);
    --white-400: hsl(206, 5%, 65%);
    --white-500: hsl(206, 5%, 45%);
    --black-100: hsl(210, 21%, 12%);
    --black-200: hsl(210, 21%, 9%);
    --black-300: hsl(210, 21%, 6%);
    --black-400: hsl(210, 21%, 3%);
    --black-500: hsl(210, 21%, 1%);
    --night-100: hsl(217, 27%, 20%);
    --night-200: hsl(217, 27%, 16%);
    --night-300: hsl(217, 27%, 12%);
    --night-400: hsl(215, 27%, 8%);
    --night-500: hsl(215, 27%, 4%);
    --pink-100: hsl(326, 85%, 90%);
    --pink-200: hsl(327, 87%, 80%);
    --pink-300: hsl(329, 86%, 70%);
    --pink-400: hsl(330, 81%, 60%);
    --pink-500: hsl(333, 71%, 50%);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
       0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
       0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
       0 4px 6px -2px rgba(0, 0, 0, 0.05);
  
  
  }
  
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
  }
  
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    min-height: 100%;
    font-family: var(--font-poppin);
  } */

  /*  */


  .login-main-box {
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: fixed;
    overflow: hidden;
    margin: auto;
    z-index: 99999;
    top: 0;
    right: 0;
}
 
.btn {
    height: 55px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 2px 6px 10px #AAA;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.login,
.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}
 
.slider {
    height: 55px;
    width: 150px;
    border-radius: 50px;
    /* background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91)); */
            background-color: #FED626;
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}
 
.moveslider {
    left: 250px;
}
 
.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}
 
.form-section-move {
    left: -500px;
}
 
.login-box,
.signup-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}
 
.login-box {
    gap: 50px;
}
 
.signup-box {
    gap: 15px;
}
 
.ele {
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 14px !important;
    font-weight: normal !important;
}
 
.clkbtn {
    height: 55px;
    width: 150px;
    border-radius: 50px;
    /* background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91)); */
            background-color: #FED626;
    font-size: 22px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.login-model-buttons{
    display: flex;
    gap: 10px;
}